.card-largura{
    max-width: 18rem;
}

.imagem-carousel-um{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagem-carousel-dois{
    object-fit: cover;
    height: 400px;
}

.fonte-titulo{
    font-family: 'Pacifico', cursive;
}

.cor-especial{
    color: darkred!important;
}

.botao-cor-especial{
    background-color: darkred;
    color: white;
}

.bordar-cor-especial{
    border-color: darkred;
}

.card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}